/* =========================================
   NODO BASE: LEYES FÍSICAS DE LA TERMINAL
========================================= */
:root {
    --color-gaia-superficie: #f0f0f0;
    --color-zarco-vacio: #000000;
    --color-zarco-nexo: #008080;
    --color-energia-hesra: #00FF41;
    --color-texto-muerto: #777777;
    
    --fuente-terminal: 'Courier New', Courier, monospace;
    --resplandor-radiactivo: 0 0 5px var(--color-energia-hesra);
}

* { box-sizing: border-box; }

body, html {
    margin: 0; padding: 0;
    font-family: var(--fuente-terminal);
    background-color: var(--color-gaia-superficie);
    color: #333;
    user-select: none; 
    overflow: hidden;
    height: 100vh; width: 100vw;
}

.texto-fluido-zarco {
    color: var(--color-energia-hesra);
    text-shadow: var(--resplandor-radiactivo);
}

.nodo-inactivo { display: none !important; }

#capa-publicidad {
    position: absolute; top: 0; left: 0;
    width: 100vw; height: 100vh;
    pointer-events: none; z-index: 9999;
}