/* =========================================
   MÓDULO 0: CONFIGURACIÓN GLOBAL
========================================= */
* { box-sizing: border-box; }

body, html {
    margin: 0; 
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    color: #333;
    user-select: none;
    overflow: hidden;
}

/* Clases de utilidad global */
.hacker-text {
    color: #00FF41;
    text-shadow: 0 0 5px #00FF41;
}